<h1>{{title}}</h1>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
</nav>
<router-outlet></router-outlet>

<app-hero-form></app-hero-form>

<app-custom-two-way-binding [(message)]="twoWayData"></app-custom-two-way-binding>
{{twoWayData}}